@model Post

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="py-3 mb-6">
        @using (Html.BeginForm("Edit", "Posts", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="justify-content-start">
                @Html.HiddenFor(model => model.UpdatedAt)
                @Html.HiddenFor(model => model.Posts.Id)
                @Html.HiddenFor(model => model.PostId)
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-sm-6">
                    <label asp-for="Title" class="col-sm-4 col-form-label"></label>
                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-6">
                    <label asp-for="Content" class="col-sm-4 col-form-label"></label>
                    @Html.TextBoxFor(model => model.Content, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-6">
                    <label asp-for="Image" class="col-sm-4 col-form-label"></label>
                    @Html.TextBoxFor(model => model.Image, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-6">
                    <label asp-for="Teacher" class="col-sm-4 col-form-label"></label>
                    @Html.TextBoxFor(model => model.Teacher, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Teacher, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-6">
                    <label asp-for="CreatedAt" class="col-sm-4 col-form-label"></label>
                    @Html.TextBoxFor(model => model.CreatedAt, new { @class = "form-control", disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.CreatedAt, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-6">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
