@inject AcademicShareDbContext _context
@inject SignInManager<User> SignInManager
@using Microsoft.AspNetCore.Identity
@model UserProfile

@section Styles {
    <link rel="stylesheet" href="~/css/profile.css">
}

@{
    ViewData["Title"] = "Profile";
}

<div class="profile-Page">
    <div class="card mb-5">
        <img class="card-img-top" src="../imagesProfile/banner/@Model.Banner" alt="Avatar Banner">
        <div class="card-body little-profile text-center">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="pro-img">
                            <img src="../imagesProfile/avatar/@Model.ProfilePicture" alt="user">
                        </div>
                        <h4>
                            @Model.FullName
                        </h4>
                        <p>#@ViewBag.User.UserName</p>
                    </div>
                    
                    <div class="col">
                        <div class="justify-content-center align-items-center">
                            <Partial name="_LinksPartial" model="@Model" />
                        </div>
                    </div>
                </div>
            </div>
            <p>@Model.Bio</p>

            @if (SignInManager.IsSignedIn(User) && ViewBag.User.Id == SignInManager.UserManager.GetUserId(User))
            {
                <hr>
                <div class="d-flex justify-content-center">

                    <button class="btn btn-primary mx-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop">
                        Edit Profile
                    </button>
                    <a asp-action="Create" asp-controller="Posts">
                        <button class="btn btn-primary mx-2" type="submit">
                            Make a Post
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-pencil" viewBox="0 0 16 16">
                                <path
                                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                            </svg>
                        </button>
                    </a>
                </div>
            }
        </div>
        <div class="card-footer">
            <small class="text-muted">Created at @ViewBag.User.CreateAt</small>
        </div>
    </div>


    <h2 class="text-center">Totals Posts: @ViewBag.PostsCount</h2>
    <hr>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        @foreach (var post in ViewBag.Posts)
        {
            <div class="col">
                <div class="card">
                    <img src="../imagesPost/@post.Image" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@post.Title</h5>
                        <p class="card-text">@post.Content</p>
                        <p class="card-text"><small class="text-muted">@post.CreatedAt</small></p>
                    </div>
                </div>
            </div>
        }
    </div>


    <partial name="_EditPostsPartial" model="@Model" />
</div>