@model CreateUserDto

@{
    ViewData["Title"] = "Register";
}

<div>
    <h1 class="display-4">Create your account now</h1>
    <p class="lead">Fill in the fields below to create your account!</p>
</div>
<div class="row">
    <div class="py-3 mb-5">
        @using(Html.BeginForm("Register", "Account", FormMethod.Post))
        {
            <div class="justify-content-start">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="col-sm-6">
                    <i class="fa-solid fa-envelope"></i>
                    <label asp-for="Email" class="col-sm-4 col-form-label">Email</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @autocomplete = "username", @placeholder = "name@exemple.com" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>

                <div class="col-sm-6">
                    <i class="fa-solid fa-user"></i>
                    <label asp-for="UserName" class="col-sm-4 col-form-label">User Name</label>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @autocomplete = "name", @placeholder = "User Name" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                </div>

                <div class="col-sm-6">
                    <i class="fa-solid fa-school"></i>
                    <label asp-for="University" class="col-sm-4 col-form-label">University</label>
                    @Html.TextBoxFor(m => m.University, new { @class = "form-control", @autocomplete = "university", @placeholder = "University name" })
                    @Html.ValidationMessageFor(m => m.University, "", new { @class = "text-danger" })
                </div>

                <div class="col-sm-6">
                    <i class="fa-solid fa-graduation-cap"></i>
                    <label asp-for="Course" class="col-sm-4 col-form-label">Course</label>
                    @Html.TextBoxFor(m => m.Course, new { @class = "form-control", @autocomplete = "course", @placeholder = "Course" })
                    @Html.ValidationMessageFor(m => m.Course, "", new { @class = "text-danger" })
                </div>

                <div class="col-sm-6">
                    <i class="fa-solid fa-user-check"></i>
                    <label asp-for="Registration" class="col-sm-4 col-form-label">Registration</label>
                    @Html.TextBoxFor(m => m.Registration, new { @class = "form-control", @autocomplete = "registration", @placeholder = "Registration" })
                    @Html.ValidationMessageFor(m => m.Registration, "", new { @class = "text-danger" })
                </div>

                <div class="col-sm-6">
                    <i class="fa-solid fa-key"></i>
                    <label asp-for="Password" class="col-sm-4 col-form-label">Password</label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @autocomplete = "new-password", @placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>

                <div class="col-sm-6">
                    <i class="fa-solid fa-key"></i>
                    <label asp-for="ConfirmPassword" class="col-sm-4 col-form-label">Confirm Password</label>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @autocomplete = "new-password", @placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row justify-content-start mt-4">
                <div class="col-sm-3 d-grid">
                    <button type="submit" class="btn btn-primary">Create Account</button>
                </div>
                <div class="col-sm-3 d-grid">
                    <a class="btn btn-outline-primary" href="/" role="button">Return</a>
                </div>
                <p class="justify-content-start d-grid mt-4">
                    <a asp-controller="Account" asp-action="Login">Already have a account? Make the login!</a>
                </p>
            </div>
        }
    </div>
</div>
